### This notebook gives a 30 second introduction to the Vortexa SDK

First let's import our requirements

In [1]:
from datetime import datetime
import vortexasdk as v

Now let's look at the breakdown by destination terminal of cargoes departing from the port of origin over the last 5 days, in tonnes.

You'll need to enter your Vortexa API key when prompted.

In [2]:
df = v.DestinationBreakdown()\
    .search(filter_activity="loading_end",
        breakdown_geography="terminal",
        breakdown_unit="t",
        breakdown_size=5,
        filter_time_min=datetime(2019, 11, 10),
        filter_time_max=datetime(2019, 11, 15)
    ).to_df()

In [3]:
df.head()

,key,label,value,count
0,606e73162cfd0492919ef96b04dae1bfddda09d148d03b...,SPSE - DPF - G.I.E. Petroleum Terminal,785819,12
1,844756c877c680ce0ff582a46b5bb1cf34cc33179df977...,SK Energy (Ulsan),288529,11
2,a5269f5a20759b3a120af66a298fa2385a2b81d8b248ae...,Dongying CNOOC Oil & Petrochemicals Shandong,201283,11
3,78fcabe3bb6a47f2aa019ae9948be43c5ebbe08a2d1cba...,Kandla Oil Terminal,121762,15
4,15db6ca55a3b13d3c4b135afcaf87f5d605680ac751774...,Pirpau Island,62933,12

That's it! You've successfully loaded data using the Vortexa SDK. Check out https://vortechsa.github.io/python-sdk/ for more examples