### This notebook gives a 30 second introduction to the Vortexa SDK

First let's import our requirements

In [2]:
from datetime import datetime
import vortexasdk as v

Now let's load a dataframe of vessel movements that loaded at the start of August, 2017.

You'll need to enter your Vortexa API key when prompted.

In [3]:
df = v.VesselMovements()\
    .search(filter_activity='loading_state',
        filter_time_min=datetime(2017, 8, 1),
        filter_time_max=datetime(2017, 8, 2))\
    .to_df()

Loading from API: 1000it [00:02, 374.55it/s]

In [4]:
df.head()

,vessel.name,vessel.imo,vessel.mmsi,vessel.cubic_capacity,vessel.dwt,vessel.vessel_class,origin.location.port.label,origin.location.sts_zone.label,origin.from_vessel.label,origin.to_vessel.label,...,destination.from_vessel.label,destination.to_vessel.label,origin.start_timestamp,destination.end_timestamp,cargoes.0.product.group.label,cargoes.0.product.grade.label,cargoes.0.product.grade.probability,vessel.corporate_entities.charterer.label,vessel.corporate_entities.time_charterer.label,vessel.corporate_entities.commercial_owner.label
0,A STAR,9159816.0,626074000,9716,11047,general_purpose,Haldia [IN],NaN,NaN,NaN,...,NaN,NaN,2017-08-01 10:22:28+00:00,2017-08-09 12:06:49+00:00,Dirty Petroleum Products,Bitumen 60/70,1.000000,NaN,NaN,UNKNOWN
1,AC-D,9428437.0,256934000,8396,7842,tiny_tanker,Temryuk [RU],NaN,NaN,NaN,...,NaN,NaN,2017-08-01 21:16:50+00:00,2017-08-19 12:15:38+00:00,Clean Petroleum Products,NaN,NaN,NaN,NaN,NaN
2,ACHILLEAS,9398072.0,636014701,333364,297950,vlcc_plus,Jose Terminal [VE],NaN,NaN,NaN,...,NaN,NaN,2017-07-29 22:37:39+00:00,2017-09-26 01:20:06+00:00,Crude/Condensates,Merey,0.999948,NaN,NaN,CURZON
3,AEGEAN ANGEL,9290323.0,240213000,170784,159092,suezmax,Saint Rose [US],NaN,NaN,NaN,...,AUGUSTA,AEGEAN ANGEL,2017-07-31 07:28:08+00:00,2017-08-09 14:57:11+00:00,Dirty Petroleum Products,NaN,NaN,PHILLIPS 66,NaN,ARCADIA
4,AEGEAN WAVE,9387920.0,477547300,53502,49999,handymax,"Coatzacoalcos, Pajaritos [MX]",NaN,NaN,NaN,...,NaN,NaN,2017-07-31 21:25:48+00:00,2017-09-03 06:08:09+00:00,Clean Petroleum Products,Cactus Naphtha,1.000000,BP,NaN,Norient Pool

That's it! You've successfully loaded data using the Vortexa SDK. Check out https://vortechsa.github.io/python-sdk/ for more examples